# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [69]:
import pandas as pd
import numpy as np

from urllib.request import urlretrieve

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [4]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
urlretrieve(url, 'chipotle.tsv')

('chipotle.tsv', <http.client.HTTPMessage at 0x7fecfef265b0>)

### Step 3. Assign it to a variable called chipo.

In [45]:
chipo = pd.read_csv('chipotle.tsv', sep = '\t')

### Step 4. See the first 10 entries

In [46]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the number of observations in the dataset?

In [47]:
# Solution 1
chipo.shape

(4622, 5)

In [48]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [49]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [50]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [51]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [52]:
c = chipo.groupby(['item_name']).sum().sort_values(['quantity'],ascending = False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [53]:
c = chipo.groupby(['item_name']).sum().sort_values(['quantity'],ascending = False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [73]:
c = chipo.groupby(['choice_description']).sum().sort_values(['quantity'],ascending = False)
c.head(1)

                    order_id  quantity  item_price
choice_description
[Diet Coke]           123455       159      326.71

### Step 12. How many items were orderd in total?

In [55]:
chipo.sum()['quantity']

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [56]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [57]:
func = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(func) #remember that apply is only temporary so need to replace the column
# for the changes to stay

#### Step 13.c. Check the item price type

In [58]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [62]:
revenue = (chipo.quantity * chipo.item_price).sum()
print("revenue is $"+str(revenue))

revenue is $39237.02

### Step 15. How many orders were made in the period?

In [66]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 16. What is the average revenue amount per order?

In [71]:
# Solution 1
print("The average revenue amount per order is $"+str(np.round(revenue/orders,2)))

The average revenue amount per order is $21.39

In [83]:
# Solution 2
chipo['revenue'] = chipo.quantity * chipo.item_price #create new column for revenues
np.round(chipo.groupby(['order_id']).sum().mean()['revenue'],2) #group by order_id, sum by order_id and take the mean

21.39

### Step 17. How many different items are sold?

In [86]:
chipo.item_name.value_counts().count()

50